
<%- include("partials/header") -%>

<div class="container">
    <h2 style="margin-top: 10px;">Today's Menu</h2>
    <%- include("dailyMenu") -%>
    <h3>My Complaints</h3>
    <%- include("complaint") -%>
    <%- include("createComplaint") -%>
    <div class="row">
        
        <div class="col-md-6">
            <ul>
                <!-- Display user's complaints here -->
            </ul>
        </div>
    </div>
    
</div>

<%- include("partials/footer") -%>
